@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-light: 0, 0, 0; /* Black for light mode */
  --foreground-dark: 255, 255, 255; /* White for dark mode */
  --background-light: 255, 255, 255; /* White for light mode */
  --background-dark: 0, 0, 0; /* Black for dark mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--foreground-dark);
    --background: var(--background-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground: var(--foreground-light);
    --background: var(--background-light);
  }
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
